/_build
/cover
/db
/deps
/doc

/.deliver/releases/
/rel/*/**
config/prod.exs
config/*.secret.exs

*.beam
*.dump
*.ez
*.fetch
*.log
*.sublime-workspace
block_store

apps/explorer/assets/node_modules
apps/explorer/cover
apps/explorer/priv/static
apps/knot/cover
